* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8d8d8;
}

.progressbar-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box {
    border-radius: 50%;
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    font-size: 24px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-container svg {
    position: absolute;
}

.progressbar-container circle {
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 40px;
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: loading 7s linear forwards;
}

@keyframes loading {
    100% {
        stroke-dashoffset: 0;
    }
}
