@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #090909;
    font-family: 'Fira Sans', sans-serif;
}

.cards {
    align-items: center;
    display: flex;
    color: #090909;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    gap: 1rem;
}

.flip-card {
    background-color: #eef4ed;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    background-color: #eef4ed;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: #e3170a;
    transform: rotateY(180deg);
}

.title {
    color: #090909;
    font-size: 48px;
    margin: 2rem 0;
}

.description {
    color: #eef4ed;
    padding: 1rem 0;
    font-weight: 700;
}
